.detail_body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: Helvetica, Tahoma, Arial, STXihei, 华文细黑, "“Microsoft YaHei”", 微软雅黑, sans-serif;
}

.detail_absoluteField {
    width: 100%;
}

.detail_eventField {
    width: 100%;
    overflow: scroll;
}

.deTime {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1%;
    font-size: 1.5em;
}

.deTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1%;
    margin-top: 20px;

    font-size: 3em;
}

.allTags {
    display: flex;
    flex-direction: row;
}

.deTag {
    margin: 0 1%;
    font-size: 1.2em;
    font-weight: 400;
    background-color: #06c261;
    border: none;
    color: white;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}


.myCollapse {

}

.myCollapsePanel {

}

.allThoughts {

}

.thought {
    font-size: 1.5em;
    border-bottom: #5ce077 1px groove;
}

.allPictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.picture {
    margin-bottom: 20%;
    width: fit-content;
}

.btnDeletePic {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    position: relative;
    left: -5px;
    bottom: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
}

.removeContent {

}

.addPicture {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

.addCircle {
    width: 50%;
    height: 50%;
}

.deLocation {
    margin: 2%;
    font-size: 0.8em;
}

.btnEdit {
    background-color: #7fe279;
}

.btnQuitEdit{
    background-color: red;
    color: white;
}

.btnShare {
    background-color: #06c261;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 10px;
}

.deList {
    margin-top: 30%;
}