.detail_body {
    height: 100%;
    width: 100%;
}

.detail_absoluteField {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.detail_eventField {
    margin-top: 60px;
    overflow: hidden;
}

.deTime {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1%;
    margin-top: 20px;

    font: 3em "微软雅黑 Light";
}

.deTag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1%;
    font: 1em "微软雅黑 Light";
}

.chTag {
    margin: 1%;
    font: 0.8em "微软雅黑 Light";
}

.thought {
    font-size: 1.5em;
}

.allPictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.picture {
    margin: 1%;
    width: fit-content;
}

.removeContent {
    display: none;
}

.addPicture {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

.addCircle {
    width: 50%;
    height: 50%;
}

.deLocation {
    margin: 2%;
    font: 0.8em "微软雅黑 Light";
}

.btnEdit {
    background-color: #7fe279;
}

.btnShare {
    background-color: #7fe279;
}