#record_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/chatbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#record_absoluteField {
    width: 100%;
    z-index: 2;
    background-color: #fff;
}

#record_bottom {
    display: flex;
    overflow: hidden;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: white;
    padding: 16px 0;
    border-top: 5px solid #666;
    position: fixed;
    bottom: 0;
}

/**************************************************************/
/*                                                            */
/*                      Animations                            */
/*                                                            */
/**************************************************************/

.bottom_up {
    animation: bottom_upAnim .5s forwards;
}

.bottom_down {
    animation: bottom_downAnim .5s forwards;
}

.bottom_bigdown {
    animation: bottom_bigdownAnim .5s forwards;
}

.bottom_extd {
    animation: bottom_extdAnim .5s forwards;
}

.bottom_edown {
    animation: bottom_edownAnim .5s forwards;
}


@keyframes bottom_upAnim {
    0% {
        height: 90px;
        background-color: #fff;
    }
    100% {
        height: 160px;
        background-color: #5ce077;
    }
}

@keyframes bottom_downAnim {
    0% {
        height: 160px;
        background-color: #5ce077;
    }
    100% {
        height: 90px;
        background-color: #fad15b;
    }
}

@keyframes bottom_bigdownAnim {
    0% {
        height: 220px;
        background-color: #5ce077;
    }
    100% {
        height: 90px;
        background-color: #fad15b;
    }
}

@keyframes bottom_extdAnim {
    0% {
        height: 160px;
        background-color: #5ce077;
    }
    100% {
        height: 220px;
        background-color: #5ce077;
    }
}

@keyframes bottom_edownAnim {
    0% {
        height: 220px;
        background-color: #5ce077;
    }
    100% {
        height: 160px;
        background-color: #5ce077;
    }
}

.white2green {
    animation: w2gAnim .5s forwards;
}

.green2orange {
    animation: g2oAnim .5s forwards;
}

@keyframes w2gAnim {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: #5ce077;
    }
}

@keyframes g2oAnim {
    0% {
        background-color: #5ce077;
    }
    100% {
        background-color: #fad15b;
    }
}