.statsBody {
    width: 100%;
}

.absoluteFieldBox {
    margin-top: 60px;
    height: 230px;
}

.absoluteField {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: solid 1px var(--adm-color-border);
}

.filterField {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #7fe279;
    box-shadow: 0 0 5px 3px #666;
}

.navBarField {
    height: 50px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--adm-color-border);
}

.filterModeBox {
    width: 70%;
}

.selectorBox {
    padding: 3px 2px;
    --border-radius: 20px;
}

.adm-selector-item-active,
.adm-selector-item-multiple-active {
    box-shadow: 0 0 2px 2px;
    color: green;
    background-color: #c0d5c0;
}

.adm-capsule-tabs-tab-active {
    background-color: #5ce077;
    border: #427b38 2px solid;
}

.appBottom {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    background-color: white;
    border-top: solid 1px var(--adm-color-border);
}

.set {
    font-size: 100px;
}

.capRenderField {
    padding-bottom: 90px;
}

.eventListField {
    width: 100%;
}

.stats_timescroll {
    position: fixed;
    z-index: 1;
    left: 35px;
    width: 10px;
    height: 1000px;
    background-color: #bbdfbb;
}

.stats_sgEventArrow {
    position: absolute;
    z-index: 1;
    right: 20px;
}

.sgEventBox:active {
    opacity: 70%;
}

.stats_sgEventIcon {
    position: absolute;
    z-index: 1;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: green;
    background-image: url(../../assets/miyu.jpg);
    background-size: 100%;
    border: black 2px solid;
}

.stats_dateBox {
    margin: 10px;
    margin-right: calc(50% + 50px);
    width: 100px;
    text-align: center;
    font: bolder 20px/2 "Microsoft Sans Serif";
    border-radius: 20px;
    background-color: #9fe774;
}