.absoluteField {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.filterField {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #7fe279;
}

.navBarField {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--adm-color-border);
}

.filterModeBox {
    width: 70%;
}

/*.adm-selector-item {*/
/*    margin: 3px 2px;*/
/*}*/

/*.adm-selector-item-active,*/
/*.adm-selector-item-multiple-active {*/
/*    box-shadow: 0 0 2px 2px;*/
/*    color: green;*/
/*    background-color: #c0d5c0;*/
/*}*/

.appBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    background-color: white;
    border-top: solid 1px var(--adm-color-border);
}

