.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app_body {
    display: flex;
    height: 100%;
    width: 100%;
}

.app_bottom {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding: 1em 0;
    background-color: white;
    border-top: solid 1px gray;
}



.router_wrapper {
    height: 100%;
    width: 100%;
}

.forward-enter {
    opacity: 0;
    transform: translateX(100%);
}

.forward-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .3s;
    position: absolute;
    width: 100%;
    height: 100%;
}

.forward-exit {
    opacity: 1;
    transform: translateX(0);
}

.forward-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all .3s;
    position: absolute;
    width: 100%;
}

/* 路由后退时的入场/离场动画 */
.back-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.back-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .3s;
    position: absolute;
    width: 100%;
}

.back-exit {
    opacity: 1;
    transform: translateX(0);
}

.back-exit-active {
    opacity: 0;
    transform: translate(100%);
    transition: all .3s;
    position: absolute;
    width: 100%;
}

.appBottom_disable {
    pointer-events: none;
}