.discuv_body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font: 2em "Microsoft Sans Serif";
    background-color: #f8f9fa;
}

.discuv_head {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(76, 175, 80);
    padding: 10px;
    color: white;
    font-size: 1.5em;
}

.discuv_field {
    padding-bottom: 100px;
    width: 100%;
    overflow: scroll;
}

.bottomLine {
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 20px;
}

.oneEvent {
    margin: 0.5em;
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

.avatar {
    margin-right: 10px;
}

.content {
    width: 100%;
}

.name {
    width: 90%;
    margin: auto;
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(67, 160, 71);
    margin-bottom: 10px;
}

.share {
    width: 90%;
    margin: auto;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.locationAndFunc {
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.locationAndFunc .location {
    font-size: 0.7em;
    color: #a9a1a1;
    margin-left: 5%;
}

.locationAndFunc .allFunc {
    text-align: right;
    width: 60%;
}

.locationAndFunc .allFunc .func {
    margin-left: 5%;
    display: inline-block;
    color: rgb(27, 94, 32);
}

.comment {
    width: 90%;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment .likePeople {
    border-bottom: 1px solid #d9d9d9;
    font-size: 0.7em;
    padding-bottom: 5px;
    text-align: left;
    color: rgb(56, 142, 60);
}

.comment .reply {
    padding: 0.2em;
}

.comment .replyMessage {
    font-size: 0.7em;
    margin-top: 10px;
    text-align: left;
    color: black;
}

.foot {
    position: relative;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1em "Microsoft Sans Serif";
    color: darkgray;
}

.aaa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
