.alpha_bg {
    background-color: rgb(248, 233, 208);
}

#stats_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#stats_absoluteField {
    z-index: 2;
    width: 100%;
    background-color: #fff;
    border-bottom: solid 5px #427b38;
}

#filterField {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #52b48d;
    box-shadow: 0 0 5px 1px #fff;
    height: 100px;
}

.filterAdd {
    animation: filterAnim .5s forwards;
}

.filterRemove {
    animation: filterAnimBack .5s forwards;
}

@keyframes filterAnim {
    0% {height: 100px;}
    100% {height: 500px;}
}

@keyframes filterAnimBack {
    0% {height: 500px;}
    100% {height: 100px;}
}

#filterModeBox {
    width: 70%;
    padding: 5px 0;
}

.stats_sift {
    margin-bottom: 15px;
    font: 600 20px/1.5 "Microsoft YaHei UI";
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    color: #fff;
    border-radius: 20px;
}

.stats_filterTags, .stats_filterTimes {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font: 550 12px/1.5 "Microsoft YaHei UI";
    background-color: rgba(255, 255, 255, .3);
    border-radius: 20px;
}

.stats_filterTimes {
    margin-top: 20px;
}

.stats_tagsTitle, .stats_timesTitle {
    padding: 5px 0;
}

.stats_tagsReset {
    position: absolute;
    right: 15px;
    top: 5px;
}

.stats_selectorBox {
    padding: 3px 2px;
}

.stats_tagsSelector {
    margin: 10px 20px;
}

.stats_timesRange {
    font: 600 15px/5 "Microsoft YaHei UI";
}

.adm-calendar-cell.adm-calendar-cell-selected.adm-calendar-cell.adm-calendar-cell-selected {
    background-color: rgb(31, 133, 66);
}

.adm-selector-item-active,
.adm-selector-item-multiple-active {
    box-shadow: 0 0 2px 2px;
    color: green;
    background-color: #c0d5c0;
}

.adm-capsule-tabs-tab-active {
    background-color: #5ce077;
    border: #427b38 2px solid;
}

.adm-tabs-tab-active {
    color: #fad15b;
}

.adm-tabs-tab-line {
    background-color: #fad15b;
}

#stats_capRenderField {
    overflow: scroll;
    height: 100%;
}

#event_listField, .stats_listField {
    width: 100%;
    background-color: rgb(248, 233, 208);
    padding-top: 10px;
    padding-bottom: 10px;
}

.stats_listField {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 70px;
}

#stats_timeScroll {
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 35px;
    width: 10px;
    height: 1000px;
    background-color: #bbdfbb;
}

.stats_statsBox {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 90%;
    height: 400px;
    margin: 20px 0;
    border-radius: 20px;
    padding: 10px 10px;
}

.markerInfoBox {
    display: none;
    position: absolute;
    top: 25px;
    z-index: 3;
    height: 0;
    width: 100%;
}

.markerShow {
    display: block;
    animation: stats_markerAnim .5s forwards;
}

@keyframes stats_markerAnim {
    0% {height: 0;}
    100% {height: 200px;}
}

.stats_statsArrow {
    background-color: grey;
    border-radius: 50%;
    padding: 5px 5px;
    color: white;
}