.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.appBody {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    background-color: white;
    border-top: solid 1px var(--adm-color-border);
}